[submodule "turbulenz_engine"]
	path = turbulenz_engine
	url = https://github.com/turbulenz/turbulenz_engine
[submodule "irrlicht-mirror"]
	path = irrlicht-mirror
	url = https://github.com/PittLAN/irrlicht-mirror
[submodule "EaselJS"]
	path = EaselJS
	url = https://github.com/CreateJS/EaselJS/
